html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1E2A5E;
    color: aliceblue;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    text-align: center;
    padding: 5%;
}

footer {
    border-top: 2.5px dotted #F5F5F5;
    font-size: 0.8em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    /* Keeps footer at the bottom */
    position: relative;
    bottom: 0;
}