html {
    height: 100%;
}

body {
    height: 100%;
    padding: 5%;
    margin: 0;
    background: #1E2A5E;
    color: aliceblue;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.5;
}

button {
    background-color: #F5F5F5;
    border: none;
    box-shadow: #229799 1px 0px 0px;
    color: #1E2A5E;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}



/* FOOTER */
footer {
    /* Used for making the footer */
    border-top: 2.5px inset #F5F5F5;
    border-top-style: dotted;
}

footer {
    font-size: 0.8em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}