html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 5%;
    padding-top: 0;
    background: #1E2A5E;
    color: aliceblue;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    /* This ensures the container takes up available space */
    text-align: center;
    padding: 5%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #F5F5F5;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card {
    background-color: #2C3A70;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: calc(25% - 15px);
    min-width: 200px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    width: 230px;
    height: 150px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 15px;
    color: #F5F5F5;
}

.button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}


/* FOOTER */
footer {
    border-top: 2.5px dotted #F5F5F5;
    font-size: 0.8em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #F5F5F5;
}